@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light Mode */

:root {
  --default-brand: 152.9 60% 52.9%;
}

/* Dark Mode */

@media (prefers-color-scheme: dark) {
  :root {
    --default-brand: 152.9 60% 52.9%;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
